@model Blog
@inject Helios.Service.LayoutService _layoutServices


@section CSS {

    <link rel="stylesheet" href="~/assets/css/Blog-inner.css">
}

@{
    List<Category> categories = _layoutServices.AllCategories();

}
<div id="rightSide">
    <div id="smallAndMediumMenu" class="d-lg-none d-block">
        <div class="content">
            <div class="image">
                <a asp-controller="Home" asp-action="Index" >
                    <img src="~/assets/image/TogetherLogo.svg" alt="">
                </a>
            </div>
            <div class="HamburgerMenu">
                <img src="~/assets/image/MaskMenu.png" alt="">
            </div>
        </div>
    </div>

    <div id="smallAndMediumNavBar" class="d-lg-none col-12">
        <div class="contents">
            <nav>
                <ul>
                    <a asp-controller="Home" asp-action="Index" class="hoverGrays">
                    <li>
                        Home
                    </li>
                    </a>
                    <a asp-controller="Introduction" asp-action="Index" class="hoverGrays">
                    <li>
                        Introduction
                    </li>
                    </a>
                    <a asp-controller="Blog" asp-action="Index" class="hoverGrays">
                    <li>
                        Blog
                    </li>
                    </a>
                    <a asp-controller="Styles" asp-action="Index" class="hoverGrays">
                    <li>
                        Styles
                    </li>
                    </a>
                    <li class="component">
                        <div class="accordion">
                            <div class="accordion-item">
                                <div class="accordion-header">
                                    Components

                                    <img src="~/assets/image/Mask.svg" alt="">
                                </div>

                                <div class="accordion-content">
                                    <ul>
                                        <li class="hoverActives">
                                            WEB
                                        </li>
                                        <li class="hoverActives">
                                            IOS
                                            <div class="buttonNavPlanned">
                                                <a href="">
                                                    Planned
                                                </a>
                                            </div>
                                        </li>
                                        <li class="hoverActives">
                                            Android
                                            <div class="buttonNavPlanned">
                                                <a href="">
                                                    Planned
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div id="subMenus" class=""  style="max-height: 100vh; overflow-y: auto;">
        <ul>
            <li class="menuTitle">
                <div class="icon">
                    <img src="~/assets/image/Maskmain menu.svg" alt="">
                </div>
                <div class="text">
                    Main Menu
                </div>
            </li>
            @foreach (var item in categories)
            {
                var isActive = item.Id == ViewBag.categoryId;
                <a asp-controller="Component" asp-action="Index" asp-route-categoryId="@item.Id">
                <li class="hoverColorSubMenu  @((isActive && ViewBag.categoryId == item.Id) ? "activeHoverLiSubMenu" : "")">@item.Name</li>
                </a>
            }
        </ul>
    </div>

    <section id="blogMainCards">
        <div class="blogCards">
            <div class="titles">
                <p>
                    @Model.CardTitleDetail
                </p>
            </div>
        </div>
    </section>
    <section id="text-content">
        <div class="image d-lg-block d-none">

        </div>

        <ul>
            <li>
                @Html.Raw(Model.TextContent)
            </li>
        </ul>
    </section>

    <section id="getStarted">
        <div class="bg-image d-lg-block d-none" style="z-index:-1;">

        </div>
        <div class="cardContent">
            <div class="title">
                <h3>
                    Get Started
                </h3>
            </div>
            <div class="text">
                <p>
                    We invite you to explore our design system and leverage its resources to enhance your product development process. By utilizing this design system, you'll save time, maintain consistency, and deliver exceptional experiences to our users.
                </p>
            </div>
            <div class="navigationButtons">
                <div class="learnMore">
                    <a href="@_layoutServices.GetSettings().FirstOrDefault(s => s.Key == "LearnMoreOthers")?.Value" target="_blank">
                        Learn More
                    </a>
                </div>
                <div class="getStarted">
                    <a href="@_layoutServices.GetSettings().FirstOrDefault(s => s.Key == "GetStartedOthers")?.Value" target="_blank">
                        Get Started
                    </a>
                </div>
            </div>
            <ul>
                <a style="text-decoration:none;" href="https://heliosui.notion.site/Privacy-Policy-for-Heliosui-com-324c33b5840d4d4d813723291639aacc" target="_blank">
                <li class="privacy">
                    Privacy Policy
                </li>
                </a>
                <li class="Lightberry">
                    Lightberry Design  © 2023
                </li>
            </ul>
        </div>
    </section>
</div>
